.footerContainer {
  height: 7vh;
  width: 100vw;
  background-color: black;
}

.socialWrapper {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons {
  margin-left: 10px;
}
.icons:hover {
  color: #00a6ff;
}
